@font-face {
  font-family: 'Square';
  src: url('./assets/fonts/SQUARE-721-EXTENDED-BOLD-1.woff2');
}

:root {
  font-family: "Square", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #000000;
  color: #979797;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

span.material-symbols-outlined.globe-icon {
  animation-name: blink;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  font-size: 40rem;
  top: 12rem;
  left: 20rem;
  position: absolute;
  filter: blur(0.08rem) drop-shadow( 0 0 2rem #ffac3f);
  color: #ff9939;
  z-index: -100;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-filter: blur(0.08rem) drop-shadow( 0 0 2rem #ffac3f);
}

body::after {
  content: '';
  background-image: url('./assets/images/noise.png');
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -99;
  opacity: 0.05;
}

#project-links {
  font-size: 4rem;
  padding: 2rem 4rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-direction: column;
  align-items: end;
}

#project-links .project-link {
  transition: 0.4s ease-out;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-shadow: 10px 10px black;
  margin: 2rem 0;

  font-family: 'Square';
}

#project-links .project-link:hover {
  color: #edfffe;
  text-shadow: 10px 10px black, 0px 0px 108px #F2FFFF, 0px 0px 127px #49fff6;
}

@media (max-width: 1250px) {
  #page-header {
    font-size: 1rem;
  }

  #project-links {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

  span.material-symbols-outlined.globe-icon {
    display: flex;
    justify-content: center;
    position: unset;
    font-size: 16rem;
    margin-top: 4rem;
  }
}

@keyframes blink {
  0%   { opacity:0; }
  25%  { opacity:0.6; }
  100% { opacity:0; }
}

@-webkit-keyframes blink {
  0%   { opacity:0; }
  25%  { opacity:0.6; }
  100% { opacity:0; }
}
